.home{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    &__title{
        padding-top: 30vh;
        font-size: 5rem;
    }

    &__text{
        font-size: 1.45rem;
    }
}
