@include media-sm{

    .home{

        &__title{
            padding-top: 30vh;
            font-size: 3.4rem;
        }
    
        &__text{
            font-size: 1rem;
        }
    }

    .about{
        height: 210%;
        padding-top: 80px;

    }

    .projects{
        height: 220%;
        padding-top: 80px;

        &__items{
            grid-template-columns: 1fr;
        }

        &__btn{
            font-size: 1rem;
        }
    }

    .contact{
        height: 130%;
        
        padding-top: 80px;
        &__content{
            font-size: .9rem;
        }
        
        iframe{
            height: 40%;
            width: 70%;
        }
    }

    .social-icons{
        i{
            font-size: 1.5rem;
        }
    }

    .copyright{
        font-size: .8rem;
    }
}

@include media-md{
    
    .menu-btn{
        visibility: hidden;
    }

    .nav{
        top: 0;
        left: 0;
        position: fixed;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid black;
        
        .menu-nav{
            display: block;
            transform: translateY(0);
            padding: 0;
            height: 100%;
            background: transparent;
            text-align: center;
            

            &__item{
                display: inline;
                padding: 2.5rem;
            }

            &__link{
                font-size: 1.3rem;
            }
            
            
        } 
    }

    .home{

        &__title{
            padding-top: 30vh;
            font-size: 7rem;
        }
    
        &__text{
            font-size: 2rem;
        }
    }

    .about{
        height: 160%;
        padding-top: 80px;

    }

    .projects{
        height: 130%;
        padding-top: 80px;

        &__items{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contact{
        padding-top: 80px;
    }
}

@include media-lg{

    .nav{
        visibility: visible;
        width: 100%;
        height: 90px;

        .menu-nav{
            display: block;
            transform: translateY(0);
            padding: 0;
            height: 100%;
            background: transparent;
            text-align: center;

            &__item{
                display: inline;
                padding: 0 4.5rem;
            }

            &__link{
                font-size: 1.5rem;
            }
            
            
        }
    }


    .home{

        &__title{
            font-size: 10rem;
        }
    
        &__text{
            font-size: 2.9rem;
        }
    }

    .about{

        padding-top: 90px;

    }
    .projects{

        height: 115%;
        padding-top: 90px;
        
        
        &__items{
            width: 80vw;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 80px;
        }
    }

    .contact{
        padding-top: 90px;
    }
}

@include media-xl{

    .home{

        &__title{
            font-size: 5rem;
        }
    }
    
}