@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Italianno');


body, html {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #282828;
  }
  
.parallax {
	/* The image used */
	background-image: url('img/hero-marble.png');
	height: 100%; 
	width: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.logo{
	padding-top: 25px;
	margin-left: 25px;
}

.hero-title{
	padding-top: 100px;
	padding-bottom: 20px;
	height: 50%;
	text-align: center;

}

.hero-title h1{
	margin: 0;
	padding-left: 55px;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 6em;
	text-shadow: 1px 1px 1px #000;
}
.hero-title h2{
	margin: 0;
	padding-left: 5px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 2em;
	text-shadow: 1px 1px 1px #000;

}

/* Style the navbar */
#navbar {
	overflow: hidden;
	width: 100%;
	background-color: #282828;
	display: flex;
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	text-decoration: none;
}

.internal-links{
	margin: 0 auto;
}

.internal-links > a{
	width: 100px;
	margin: 0px 30px;
}


/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

.page-section{
	height: 100%;
}

.avatar{
	margin-top: 25px;
	margin-left: 25px;
	border: 3px solid #282828;
}

#about{
	padding-left: 0px;
	height: 100%; 
	background-color: #002672;
}

.about-section{
	padding-left: 100px;
}

.about-section > p{
	font-family: 'Raleway','Courier New', Courier, monospace;
	font-size: 2rem;
	line-height: 0.5;
}

#projects{
	background-image: url('img/hero-marble.png');
	height: 100%; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

#contact{
	height: 75%;
	background-color: #280550;
}