@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, main, body{
	background-color: #565656;
}

.top-nav{
	top: 2px;
	left: 2px;
	height: 50px;
	background-color: #282828;
	display: flex;
}

.logo{
	padding: 5px;
	height: 40px;
	width: 40px;
}

.top-nav-message > p{
	padding-left: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #02DDFF;
}

.top-nav-right{ margin-left: auto; }

.top-nav-right a{
	float: left;
	text-align: center;
	padding: 14px 16px 7px 16px;
	text-decoration: none;
	color: #f2f2f2;
	font-size: 17px;
}

/* Change the color of links on hover */
.top-nav-right a:hover {
	cursor: pointer;
}
  
/* Add a color to the active/current link */
.top-nav-right a.active {
	border-bottom: solid;
	border-color: #FF851B;
	border-width: 4px;
	color: white;
}




.page-section{
	margin-top: 50px;
	padding: 50px;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.page-section > .section-title{
	margin: 0 auto;
	font-size: 20px;
	color: white;
	text-align: center;
}

.container {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 54px;
	/*outline: 1px solid red;*/
	border: 2px solid transparent;
	box-sizing: border-box;
  }

  .animated {
	background-image:
	  linear-gradient(#282828, #282828),
	  linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	background-repeat: no-repeat;
	background-size: 100% 100%, 100% 200%;
	background-position: 0 0, 0 100%;
	background-origin: padding-box, border-box;
	animation: highlight 1s infinite alternate;
  }

  @keyframes highlight {
	100% {
	  background-position: 0 0, 0 0;
	}
  }
